<div class="col-12">
  <div class="row home-header small pt-5">

    <div class="col-11 col-lg-8 col-xl-7 mx-auto">
      <div class="row">

        <div class="col-12">
          <%= image_tag "intercom-logo.png", class: "intercom-logo" %>
        </div>

        <div class="col-12 mt-4">
          <div class="font-25 text-center font-18-until-sm pt-4">
            <p>Intercom customers within a 100km radius:</p>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-lg-8 col-xl-7 mx-auto mt-5">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>User_id</th>
            <th>Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.name %></td>
              <td><%= customer.longitude %></td>
              <td><%= customer.latitude %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

</div>